*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing:border-box;
}
.hero{
	
	width: 100%;
	background: #ecebe9;
	background-position: all;
	background-size:100% 100%;
	position: absolute;
}

.form-box{
	width: 80%;
	height: 1080px;
	position: center;
	margin: 6% auto;
	background: white;
	padding: 5px;
}
.button-box{
	width: 70%;
	margin: 35px auto;
	position: relative;
	box-shadow: 0n0 20px 9px #ff61241f;
	border-radius: 30px;

}
.toggle-btn{
	padding: 10px 10px;
	padding-left: 35%;
	cursor: pointer;
	background: transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 5px;
	right: 5px;
	position: absolute;
	
	

	width: 100%;
	height: 100%;
	background :linear-gradient(to left, #ff105f,#ffad06);
	border-radius: 30px;
	outline: none;
	transition: .5s;
}
.input-group{
	top: 180px;
	
	position: absolute;
	padding-left: 40px;
	width: 80%;
	transition: .5s
	display: flex;
	flex-direction:  row;
	justify-content: space-between;

}
.input-group h3{
	padding-top: 20px;
	
	position: center;
	
}


.input-field{
	width: 280px;
	padding: 10px 0px;
	padding-left: 10px;
	margin: 5px 10px;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom:1px solid ;
	outline: none;
	background: transparent;
}

.submit-btn{
	width: 85% ;
	padding: 10px 30px;

	cursor: pointer;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	margin: 20px 0px 0px 0;
	background: linear-gradient(to right, blue,darkblue);
	border: 10;
	outline: none; 
	border-radius: 6px;
	color: white;
	
	}
.check-box{
	margin: 20px 0px 0px 0;

}
.span
{
	color: #777;
	font-size: 12px;
	bottom: 68px
	position: absolute;
}

.button-box h1{
	margin: 0 0;
}
.site-header{
	width: 100%;
	height: 100vh;
	background: #ecebe9;
	clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 98%);
}
nav{
	width: 100%; height: 100px;  display: flex;
}

.menu{
	width: 100%; height: 100px; padding-top:30px;
}
.menu ul {
	width: 100%; height: 100px; 
	display: flex; flex-direction: row-reverse; 
	padding:20px;padding-left: 35px}
.menu ul li{
	list-style: none; font-size: 12px; font-style: bold;font-weight: 900px; 
	text-transform: uppercase;padding-left: 35px;

}
section{display: flex;justify-content: space-around;}
.left-header{
	width: 45%, height:auto; overflow: hidden; margin-top: 20px; 
}
.left-header img{width: 1200px, height:100% ;
}
.right-header{ padding-top: 60px;
	margin-top: 100px; font-size: 30px;
}
.right-header h1{font-weight: 900; }
.right-header p{font-weight: 900; color: blue;padding: 20px;padding-left: 0px;padding-top: 5px;}
.right-header button{font-weight: bold;text-transform: uppercase;font-size: 17px;color: black; background: white;border-radius: 5px;
padding: 20px 35px;}
.right-header a{
	color: black;
	text-decoration: none;
}
.footer{
	position: absolute;
left: 0;
bottom: 0px;
  top:1840px;
	width: 100%;
	height: 141px;
	background: black;
	text-align: center;
		clip-path: polygon(0% 0%, 0% 0%, 100% 80%, 0% 98%);
}
.footer h2{
	display: flex;justify-content: flex-start;color: white;padding: 5px;padding-top: 80px;padding-left: 20px;
}
.footer p{
	display: flex;justify-content: flex-start;color: white;padding: 5px;padding-left: 40px;
